<div class = "resto-header">
    <h1>Yapper Elite</h1>
        <div class ="text">
            <a class="a-header" href="/search-establishments">Search establishments</a>
        </div>

        <div class="text">
            <a class="a-header" href="/view-establishment">View establishments</a>
        </div>

        <div class ="text">
            <a class="a-header" href="/user-profile">Profile</a>
        </div>

        <div class="text">
            <a class="a-header" href="/logout">Logout</a>
        </div>

        <div class ="text">
            <a class="a-header" href="/about-us-page">About Us</a>
        </div>
</div>