body {
    background-color: lightslategray;
    margin: 0;
}

header {
    background-color: #18020C;
    color: ghostwhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1.5rem;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    color: ghostwhite;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
}

nav ul li a.active {
    border-bottom: 2px solid ghostwhite;
}

nav ul li a:hover {
    color: #CE6A85;
}

.about-us {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(254, 244, 230, 0.9); /* Adjusted transparency */
    padding: 4rem;
    margin: 2rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px; /* Add curved edges */
    overflow: hidden;
    position: relative;
}

.about-us .content {
    flex: 1;
    padding-right: 5rem; /* Increased padding on the right */
    z-index: 2;
    max-width: 50%;
}

.about-us .content h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #18020C;
}

.about-us .content p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #18020C;
}

.about-us .image-container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 50%;
    overflow: hidden;
    z-index: 1;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}

.about-us .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the container properly */
    border-radius: 0 15px 15px 0; /* Curved edges on one side */
}

footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #18020C;
    color: ghostwhite;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

/* Responsive Design */
@media (max-width: 768px) {
    .about-us {
        flex-direction: column;
        text-align: center;
        padding: 2rem;
        position: relative;
    }

    .about-us .content {
        padding-right: 0;
        max-width: 100%;
    }

    .about-us .image-container {
        margin-top: 2rem;
        width: 100%;
        position: static;
    }

    .about-us .image-container img {
        width: 100%;
        border-radius: 15px;
    }
}
