body{
    background-color: lightslategray;
}

.body{
    display: flex;
    justify-content: center;

    flex-direction: row;
    align-items: center;

}

.review-container{
    display: flex;
    padding: 2%;
    height: 500px;
    background: ghostwhite;
    justify-self: auto;
    flex-direction: column;
    align-self: flex-start;
    
    box-sizing: border-box;
    
}

.establishmentname-font{
    font-family:Arial, Helvetica, sans-serif;
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 20px;
}

.review-container > .review{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.button-post-container{
    width: 25%;
    text-align: center;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
}

.star-container{
    display: flex;
    flex-direction: row;
}
textarea{
    resize: none;
}

.resto-image{
        align-self: flex-start;
        display: flex;
  
        justify-self: flex-start;
}
.resto-image > img{
    height: 500px;
    width: 500px;
}

.resto-header{
    display: flex;
    background-color: #18020C;
    flex-direction: row;
    padding: 50px;;
    margin-bottom: 50px;
    align-items: center;
}

.resto-header > h1 {
    margin: 0%;
    margin-right: 25px;
    color: ghostwhite;
}
.resto-header > .text{
    margin-left: 25px;
    font-family: sans-serif;
    color: ghostwhite;
}

a:link{
    color:ghostwhite;
    background-color: transparent;
    text-decoration: none;
}

a:visited{
    color:ghostwhite;
    background-color: transparent;
    text-decoration: none;
}

a:hover{
    color:#CE6A85;
    background-color: transparent;
    text-decoration: dotted;
}
