body{
    background-color: lightslategray;
    margin: 0;
}
.resto-header{
    display: flex;
    background-color: #18020C;
    flex-direction: row;
    padding: 50px;;
    margin-bottom: 50px;
    align-items: center;
}

.resto-header > h1 {
    margin: 0%;
    margin-right: 25px;
    color: ghostwhite;
}
.resto-header > .text{
    margin-left: 25px;
    font-family: sans-serif;
    color: ghostwhite;
}