body{
    background-color: lightslategray;
    margin: 0;
}
.resto-header{
    display: flex;
    background-color: #18020C;
    flex-direction: row;
    padding: 50px;;
    margin-bottom: 50px;
    align-items: center;
}

.resto-header > h1 {
    margin: 0%;
    margin-right: 25px;
    color: ghostwhite;
}
.resto-header > .text{
    margin-left: 25px;
    font-family: sans-serif;
    color: ghostwhite;
}

a:link{
    color:ghostwhite;
    background-color: transparent;
    text-decoration: none;
}

a:visited{
    color:ghostwhite;
    background-color: transparent;
    text-decoration: none;
}

a:hover{
    color:#CE6A85;
    background-color: transparent;
    text-decoration: dotted;
}

.estab-reviews-container{
    background-color: ghostwhite;
    width:80%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: auto;
    margin-bottom: 40px;
}

.review-profile{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    
}
.img-box{
    width:20%;
    height: 20%;
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.img-box > img{
    width:100px;
    height:auto;
    border: 1px solid black;
    border-radius: 200px;
    height: 100px;

}
.review-profile > .title-and-name-box{
    display: flex;
   flex-direction: column;
}
.title-and-name-box > .title-text{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;
    margin-left: -100px;
    text-align: justify;
    margin-top: 20px;
}
.title-and-name-box > .name-text{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-left: -95px;
    text-align: justify;
    margin-bottom: 20px;
  
}
.review-profile > .reco{
    

    display: block;
    margin:auto;
    position:sticky;
    background-color: #96A677;
    padding: 1rem;
    border: 1px solid #96A677;
   
    
}

.review-profile > .not-reco{
    display: block;
    margin:auto;
    position:sticky;
    background-color: #CE6A85;;
    padding: 1rem;
    border: 1px solid #CE6A85;;
    border-radius: 10px;
}

.reco > .reco-text{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: ghostwhite;
    letter-spacing: 3px;
    text-shadow: 2px 2px 0px #000000;
}
.not-reco > .reco-text{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: ghostwhite;
    letter-spacing: 3px;
    text-shadow: 2px 2px 0px #000000;
}
textarea{
    resize: none;
    width: 80%;
    margin-top: 10px;
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    font-size: 20px;
}

.button-container{
    display: flex;
    justify-content: center;
    align-items: center;   
}

.button-container > button{
    width: 100%;
    background-color: #CE6A85;
    padding: 1%;
    color: ghostwhite;
    margin: 5px;
    margin-top: 5px;
}

.button-container > button:hover {
    color:#18020C;
    text-decoration: dotted;
}


.title-text > textarea{
    overflow: hidden;
    width: 150%;
}
