body{
    background-color: lightslategray;
    margin: 0;
}
.resto-header{
    display: flex;
    background-color: #18020C;
    flex-direction: row;
    padding: 50px;;
    margin-bottom: 50px;
    align-items: center;
}

.resto-header > h1 {
    margin: 0%;
    margin-right: 25px;
    color: ghostwhite;
}
.resto-header > .text{
    margin-left: 25px;
    font-family: sans-serif;
    color: ghostwhite;
}

a:link{
    color:ghostwhite;
    background-color: transparent;
    text-decoration: none;
}

a:visited{
    color:ghostwhite;
    background-color: transparent;
    text-decoration: none;
}

a:hover{
    color:#CE6A85;
    background-color: transparent;
    text-decoration: dotted;
}

.profile-body{
    background-color: #18020C;
    width: 60%;
    margin: auto;
    color: white;
    display: flex;
    margin: auto;
    height: 250px;
    margin-top: 10px;
}

.profile-pic{
    border-left: 2px solid white;
    width: 40%;
    height: 100%;
}
.profile-pic{
    border-left: 2px solid white;
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
}

.profile-pic > img {
    width: 150px; 
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-pic > button {
    margin-top: 20px; 
    border: 1px solid #CE6A85;
    background-color: #18020C;
    box-shadow: 1px 1px 10px;
    color: white;
    font-size: 16px; 
    padding: 10px 20px; 
}

.profile-pic > button:hover {
    color:#CE6A85;
    text-decoration: dotted;
}

.profile-info{
    width: 60%;
    text-align: center;
    margin: auto;
}

.profile-info > h2{
    margin: 0%;
}

.profile-description{
    resize: none;
    width: 70%;
    height: 70%;
}

.confirm-button{
    background-color: #18020C;
    width: 60%;
    margin: auto;
    margin-top: 5px;
    text-align: center;
    border: 1px solid #CE6A85;
    box-shadow: 5px 5px 10px;
}

.confirm-button > button{
    background-color: #18020C;
    width: 100%;
}

.confirm-button:hover{
    color:#CE6A85;
    text-decoration: dotted;
}
