body{
    background-color: lightslategray;
    margin: 0;
}

.body{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.content-container{
    width: 50%;
    max-width: fit-content;
    background: #fff;
    display: flex;
    flex: row;
    border-radius: 10px;
}

.image-box{
    width: 50%;
}
.image-box > img{width: 100%; height: 100%; border-bottom-left-radius: 10px; border-top-left-radius: 10px;}

.form-box{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.form-head{
    height: 10%;
    justify-content: flex-start;
    align-self: center;
    color: lightslategray;
}

.form-enter{
    height: 60%;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    color: lightslategray;
    font-size: 25px;
    margin-top: 25px;
}

form{
    margin-left:40px;
    margin-right:40px;
}

form > button{
    width: 20%;
    height: 10%;
    background-color: lightslategray;
    border-radius: 15px;
    border: 2px solid lightgray;
    color: ghostwhite;
}

input{
    width: 100%;
    height: 10%;
    border: 2px solid lightslategray;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.button-container{
    width: 25%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 40%;
}

button{
    height: 50%;
    width: 100%;
    background-color: lightslategray;
    font-size: 15px;
    border-radius: 15px;
    border: 2px solid lightgray;
    
}

a {
    text-decoration: none;
}

a:visited{
    color:ghostwhite;
    background-color: transparent;
    text-decoration: none;
}

a:hover{
    color:#CE6A85;
    background-color: transparent;
    text-decoration: dotted;
}

.sign-link{
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.sign-link a{
    color: lightslategray;
    font-size: 15px;
}