{{> navbar}}

<link rel="stylesheet" href="/css/edit-profile.css">
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">

<body>
    <div class="profile-body">
      <div class="profile-info">
        <h2>Profile Name</h2>
        <textarea name="User Description" class="profile-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Fames ac turpis egestas maecenas pharetra. Odio euismod lacinia at quis risus sed vulputate odio. Id nibh tortor id aliquet. Erat velit scelerisque in dictum. </textarea>
      </div>

      <div class="profile-pic">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Default_pfp.svg/2048px-Default_pfp.svg.png" alt="" id="pfp">
        <button onclick="changePFP()">Change Avatar</button>
      </div>
    </div>

    <div class="confirm-button">
      <button onclick="confirmChanges()">Confirm changes</button>
    </div>


    <div id="customAlert" class="custom-alert">
        <div class="custom-alert-content">
            <span class="close-btn" onclick="closeCustomAlert()">&times;</span>
            {{!-- <p id="alertMessage"></p>
            <button onclick="closeCustomAlert()">OK</button> --}}
        </div>
    </div>

    <script src="/js/edit-profile.js"></script>
</body>