<link rel="stylesheet" href="/css/login.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=DM Sans">

<body>
    <div class="body">  
        <div class="content-container">
            <div class="image-box">
                <img src="https://cdn.pixabay.com/photo/2020/08/27/07/31/restaurant-5521372_1280.jpg">
            </div>

            <div class="form-box">
                <div class="form-head">
                    <h1>Yapper Elite</h1>
                </div>

                <div class="form-enter">
                    <form>
                        <label for="username">Username:</label>
                        <br>
                        <input type="text" id="username">
                        <br>
                        <label for="password">Password:</label>
                        <br>
<<<<<<< HEAD
                        <input type="password" name="user-pass">

                        <div class="button-container">
                            <button type="submit"></a><b>LOG IN</b></button>
                        </div>
=======
                        <input type="password" id="password">
>>>>>>> 89752067f7c83e650b05f2a6d40c4b3df90d9ad3
                    </form>
                </div>

                <div class="sign-link">
                    <strong><a href="/register">Need an account? Register now! </a></strong>
                </div>

            </div>
        </div>
    </div>
</body>

