<link rel="stylesheet" href="/css/register.css">
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">

<body>
    <div class="body">
        <div class="content-container">
            <div class="image-box">
                <img src="https://cdn.pixabay.com/photo/2020/08/27/07/31/restaurant-5521372_1280.jpg">
            </div>

            <div class="form-box">
                <div class="form-head">
                    <h1>Yapper Elite</h1>
                </div>

                <div class="form-enter">
                    <form method="post" id="registerform" name="registerform">
                        <label for="profile">Upload Profile (Link):</label>
                        <input type="text" name="profile" id="profile"> {{!-- Profile Pic --}}
                        <label for="username">Username:</label>
                        <input type="text" name="uusername" id="username" required autocomplete="off"> {{!-- Username --}}
                        <label for="password">Password:</label>
                        <input type="password" name="password" id="password" required autocomplete="off"> {{!-- Password --}}
                        <label for="password-re">Re-enter Password:</label>
                        <input type="password" name="password-re" id="password-re" required autocomplete="off"> {{!-- Password --}}
                        <label for="desc">Short Description:</label>
                        <input type="text" name="desc" id="desc"> {{!-- Description --}}
                        <div class="button-container">
                            <input type="submit" value="Submit">
                        </div>
                    </form>
                </div>

                <div class="sign-link">
                    <strong><a href="/login">Already have an account? Log in now!</strong>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div id="customAlert" class="custom-alert">
        <div class="custom-alert-content">
            <span class="close-btn" onclick="closeCustomAlert()">&times;</span>
            <p id="alertMessage"></p>
            <button onclick="closeCustomAlert()">OK</button>
        </div>
    </div>

    <script src="/js/register.js"></script>
</body>
