{{> navbar}}
<link rel="stylesheet" href="/css/user-profile.css">
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">

<body>
    <div class="profile-body">
        <div class="profile-info">
            <h2>{{username}}</h2>
            <textarea readonly name="User Description" class="profile-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Fames ac turpis egestas maecenas pharetra. Odio euismod lacinia at quis risus sed vulputate odio. Id nibh tortor id aliquet. Erat velit scelerisque in dictum. </textarea>
        </div>

        <div class="profile-pic">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Default_pfp.svg/2048px-Default_pfp.svg.png" alt="">
        </div>
    </div>

        <div class="profile-footer">
            <button class="profile-button" onclick="editBtn()">Edit profile</button>
        </div>

    <div class="comments-reviews">
        <div class="comment">
            This resturant is awesome!
            <hr>
            Pellentesque id nibh tortor id
            <hr>
            <div class="comment-footer"> ⭐ Recommended</div>
        </div>
        <div class="comment">
            Bug UNDER the table
            <hr>
            Tempor commodo ullamcorper a lacus
            <hr>
            <div class="comment-footer"> 👎 Not recommended </div>
        </div>
    </div>

    <script src="/js/user-profile.js"></script>
</body>