/* Element Designs */
body {
    background-color: #e5e9ec;
}

a {
    text-decoration: none;
}

a:visited {
    color: ghostwhite;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #6f6f6f;
    background-color: transparent;
    text-decoration: dotted;
}

input {
    width: 100%;
    height: 15%;
    border: 2px solid #d6d6d6;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
}

button, input[type="submit"]{
    border: none;
    height: 60%;
    width: 100%;
    background-color: #a5a5a5;
    font-size: 15px;
    border-radius: 15px;
}

/* Class-specific Designs */
.body {
    font-family: 'DM Sans';
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.content-container {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 50%;
    background: #fff;
    display: flex;
    border-radius: 10px;
}

.image-box {
    width: 50%;
}

.image-box > img {
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.form-box {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 20px;
}

.form-head {
    margin-top: 5%;
    color: #17191f;
    height: 10%;
    justify-content: flex-start;
    align-self: center;
}

.form-enter {
    height: 70%;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    color: #17191f;
    font-size: 18px;
    margin-top: 50px;
}

form {
    margin-left: 40px;
    margin-right: 40px;
}

.button-container {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: flex-start;
    align-self: center;
}

.sign-link {
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 100px;
}

.sign-link a {
    color: #17191f;
    font-size: 15px;
}

.custom-alert {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.custom-alert-content {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    font-family: 'DM Sans';
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.custom-alert-content > button {
    padding: 10px 20px;
    font-size: 14px;
    margin-top: 20px; 
    background-color: #a5a5a5;
    border: none; 
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    height: 10%;
    font-family: 'DM Sans';
}

.custom-alert-content button:hover {
    background-color: #7d9cbd;
}
