body{
    background-color: #f0f0f0;
    margin:0;
    font-family: 'DM Sans';
}

.body{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.resto-header{
    color: #17191f;
    display: flex;
    background-color: white;
    flex-direction: row;
    padding: 30px;;
    margin-bottom: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    align-items: center;
}

.resto-header > h1 {
    margin: 0%;
    margin-right: 25px;
    color: #17191f;
}
.resto-header > .text{
    font-weight: bold;
    font-size: 18px;
    margin-left: 25px;
    color: #17191f;
}

.establishment-list {
    display: flex;
    flex-direction: column;
}
.establishment {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}

.establishment-container{
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    display: flex;
    width: 1200px;
    height: 450px;
    background: white;
    justify-self: auto;
    align-self: flex-start;
    flex-direction: row;
    

}
.text-container > .name-font{

    font-family:'DM Sans', sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin-left: 50px;
    text-align: justify;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 30px;
}

.text-container > .details-font{

    font-family: 'DM Sans', monospace;
    font-size: large;
    margin-left: 50px;;
}

.details-address{
    margin-top: -20px;
    color: #707070;
    font-size: large;
}

.details-time {
    margin-top: 40px;
    margin-left: 10px;
    font-size: 20px;
}

.details-bestseller{
    width: 550px;
    padding: 10px;
    margin-left: 40px;
    margin-top: 40px;
    margin-right: 20px;
    background-color: #f1f1f1;
    border-radius: 10px;
    margin-bottom: 20px;

}

.resto-image{
    align-self: flex-start;
    display: flex;
    justify-self: flex-start;
}
.resto-image > img{
    border-bottom-left-radius: 20px; border-top-left-radius: 20px;
    height: 450px;
    width: 450px;
    object-fit: fill;
}
.text-container-review{
    margin-top: -30px;
    display: flex;
    flex-direction: column;
}

.text-container-review textarea{
    background-color: whitesmoke;
    border-radius: 10px;
}
.button-container{
    background-color: #CE6A85;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 10px;
    
    width: 700px;
}

.a-header {
    color: #17191f;
    text-decoration: none;
}

.a-header :link{
    color: #17191f;
    background-color: transparent;
    text-decoration: none;
}

.a-header :visited{
    color: #17191f;
    background-color: transparent;
    text-decoration: none;
}

.a-header:hover{
    color: lightslategrey;
    background-color: transparent;
    text-decoration: dotted;
}

.estab-reviews-container{
    margin-top: 20px;
    border-radius: 20px;
    background-color: white;
    width:1200px;
    height:100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.review-profile{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    
}
.img-box{
    width:20%;
    height: 20%;
    margin-left: 10%;
    margin-top: 40px;
    margin-bottom: 40px;
}
.img-box > img{
    width:100px;
    height:auto;
    border: 1px solid black;
    border-radius: 200px;
    height: 100px;

}
.review-profile > .title-and-name-box{
    width: 490px;
    display: flex;
   flex-direction: column;
}
.title-and-name-box > .title-text{
    font-weight: 700;
    font-family:'DM Sans', sans-serif;
    font-size: 30px;
    margin-left: -110px;
    text-align: justify;
    margin-top: 20px;
}
.title-and-name-box > .name-text{
    margin-top: -5px;
    font-weight: 500;
    font-family:'DM Sans', sans-serif;
    font-size: 18px;
    margin-left: -110px;
    color: #707070;
    text-align: justify;
    margin-bottom: 20px;
  
}
.review-profile > .reco{
    
    border-radius: 10px;
    display: block;
    margin-left: 40px;
    position:sticky;
    background-color: #96A677;
    padding: 1rem;
    border: 1px solid #96A677;
   
    
}

.review-profile > .not-reco{
    border-radius: 10px;
    margin-left: 0px;
    display: block;
    position:relative;
    background-color: #CE6A85;;
    padding: 1rem;
    border: 1px solid #CE6A85;;
    border-radius: 10px;
}

.reco > .reco-text{

    font-weight: 700;
    font-family: 'DM Sans', sans-serif;
    color: ghostwhite;
    letter-spacing: 1px;
}
.not-reco > .reco-text{
    font-weight: 700;
    font-family: 'DM Sans', sans-serif;
    color: ghostwhite;
    letter-spacing: 1px;
}
textarea{
    padding: 10px;
    font-family: 'DM Sans', sans-serif;
    resize: none;
    width: 80%;
    margin-top: 10px;
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    font-size: 18px;
}

.button-container{
    margin-left: 8%;
    width: 30%;
    text-align: center;
    background-color: white;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    
 
}
/*.button-container > button{
    width:100%;
    background-color: #CE6A85;
    margin-right: 20px;;
    padding:1%;
    color: ghostwhite;
    align-items: flex-start;
}*/

.button-btn{
    color: white;
    border-radius: 10px;
    font-weight: 700;
    font-family: 'DM Sans';
    height: 40px;
    width: 200px;
    margin-right: 20px;
    border: none;
    background-color: #a5a5a5;
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.search-section{
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 45%;
    min-width: 300px;
}

.search-section h2{
    margin-top: 0;
    font-size: 22px;
    border-bottom: 2px solid #ecf0f1;
    padding-bottom: 10px;
}

.search-bar {
    font-family: 'DM Sans';
    display: flex;
    margin-bottom: 20px;
}

.search-bar input {
    font-family: 'DM Sans';
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    outline: none;
}

.search-bar button:hover {
    background-color: #34495e;
}

.search-bar button {
    font-family: 'DM Sans';
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #2c3e50;
    color: #fff;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.button-btn:hover{
    background-color: #565353;
    color: black;
}

.review-container{
    margin-top: 20px;
    border-radius: 20px;
    background-color: none;
    width:1200px;
    height:100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

